.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid blue;
  background-color: transparent;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  will-change: transform;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

.cursor.shrink {
  width: 15px;
  height: 15px;
  transition: width 0.3s ease, height 0.3s ease;
}